* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* _________HEADER & BURGER MENU__________________ */

.navbar {
  /* height: 12%; */
  display: flex;
  align-items: center;
  /* padding: 0.5rem; */
  background-color: rgb(212, 244, 197);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: "Lora", serif;
  padding: 1rem;
}

.logo {
  width: 60px;
  cursor: pointer;
  margin-block: 0.2rem;
  margin-left: 1rem;
}

nav {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: red;
  margin-block: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover {
  /* color: grey; */
  color: black;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: red;
}

/* burgermenu center og under hinanden */
.menu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: right; */
  float: right;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* -------media------ */

@media only screen and (max-width: 768px) {
  /* Burgermenuen, farve, placering */
  .menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: rgb(250, 204, 120);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    font-size: 2rem;
    z-index: 500;
  }

  nav ul li a {
    color: rgb(255, 89, 89);
  }

  li:hover {
    transform: scale(1.1);
  }

  /* Placering af menu når man åbner burgermenu */
  .menu.active {
    left: 0;
  }

  /* Margin imellem tekst i åben burgermenu */
  .nav-item {
    margin: 2rem 0;
  }

  /* Viser de tre streger og at man kan trykke på dem */
  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    /* background-color: rgb(181, 181, 181); */
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 5px;
  }

  /* Transition af de tre streger til et kryds */
  /* nth-child snkkker til rækkefølgen på bar class og gør at den midterste kan forsvinde */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 600px) {
  .logo {
    width: 40px;
  }
}

/* _____________FOOTER____________________ */

.logo2 {
  width: 80px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 2.5rem;
  margin-bottom: 0.5;
}

footer {
  background-color: rgb(244, 221, 144);
  display: flex;
  align-items: center;
}

.footertext {
  margin: 0 auto;
}

.footer1,
.footer2 {
}

.footer2 {
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  margin-right: 6rem;
}

@media (max-width: 600px) {
  .logo2 {
    width: 60px;
    margin-left: 1.2rem;
  }

  .footer2 {
    padding-bottom: 1rem;
  }

  .footer1,
  .footer2 {
    font-size: 0.7rem;
  }
}
