* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: barlow;  
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-family: source serif pro;
  line-height: 1.3;
  padding-left: 2%;
  padding-right: 2%;
}
/* _________HEADER & BURGER MENU__________________ */



.navbar {
  /* height: 12%; */
  display: flex;
  align-items: center;
  /* padding: 0.5rem; */
  background-color: rgb(212, 244, 197);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: barlow;
  /* padding: 1rem; */
}

.logo {
  width: 60px;
  cursor: pointer;
  margin-block: 0.2rem;
  margin-left: 1rem;
}

nav {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(250, 115, 115);
  margin-block: 1rem;
  font-family: barlow;
  font-weight: bold;
}

ul li a:hover {
  /* color: grey; */
  color: black;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: red;
}

@media (min-width: 650px) {
  .logo {
    width: 95px;
  }
}

/* burgermenu center og under hinanden */
.menu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: right; */
  float: right;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* -------media------ */

@media (min-width: 650px) {
  .navbar {
    padding: 0.1rem;
  }
}

@media only screen and (max-width: 768px) {
  /* Burgermenuen, farve, placering */
  .menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: rgb(250, 204, 120);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    font-size: 2rem;
    z-index: 500;
  }

  nav ul li a {
    color: rgb(255, 89, 89);
  }

  li:hover {
    transform: scale(1.1);
  }

  /* Placering af menu når man åbner burgermenu */
  .menu.active {
    left: 0;
  }

  /* Margin imellem tekst i åben burgermenu */
  .nav-item {
    margin: 2rem 0;
  }

  /* Viser de tre streger og at man kan trykke på dem */
  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
    /* background-color: rgb(181, 181, 181); */
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 5px;
  }

  /* Transition af de tre streger til et kryds */
  /* nth-child snkkker til rækkefølgen på bar class og gør at den midterste kan forsvinde */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* @media (max-width: 600px) {
  .logo {
    width: 40px;
  }
} */

/* _____________FOOTER____________________ */

.logo2 {
  width: 80px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 2.5rem;
  margin-bottom: 0.5;
}

footer {
  /* background-color: white;
  display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footertext {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

footer h6 {
  font-size: 1rem;
}

.footer2 {
  font-weight: normal;
  font-size: 0.8rem;
}

footer h6 a {
  color: rgb(253, 109, 133);
  font-weight: bold;
}

.partthree {
  justify-self: right;
  padding-right: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
  padding-top: 2rem;
}

.partthree img {
  width: 20%;
  height: auto;
}

footer h5 {
  font-weight: normal;
}

.partthree img:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 600px) {
  .footlogo {
    text-align: center;
  }

  .logo2 {
    margin: 0;
    padding-top: 1rem;
  }

  footer {
    display: block;
  }

  .footer2 {
    margin-inline: 0;
  }

  .footer1,
  .footer2 {
    font-size: 0.9rem;
  }

  footer h5 {
    font-size: 0.9rem;
  }

  .partthree {
    justify-self: center;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 1.5rem;
    padding-right: 0;
  }

  .partthree img {
    width: 7%;
    height: auto;
    padding-top: 0.1rem;
    padding-inline: 0.1rem;
  }
}
